<head>
    <link rel="stylesheet" href="~/css/menu-secundario.css" />
</head>
@model IEnumerable<ControleFinanceiro.Service.ServiceEntity.ModuloMenuService>

@{
    bool cadastroDisplayed = false;
    bool administrativoDisplayed = false;
    bool financeiroDisplayed = false;
}

@foreach (var menuItem in Model)
{
    @if (menuItem.UrlModule == "Cadastro" && !cadastroDisplayed)
    {
        <p class="titulo-menu"> Cadastros </p>
        cadastroDisplayed = true;
    }

    @if (menuItem.UrlModule == "Administrativo" && !administrativoDisplayed)
    {
        <p class="titulo-menu"> Administração </p>
        administrativoDisplayed = true;
    }

    @if (menuItem.UrlModule == "Financeiro" && !financeiroDisplayed)
    {
        <p class="titulo-menu"> Finanças </p>
        financeiroDisplayed = true;
    }

    <li data-controller="@menuItem.Controller" data-action="@menuItem.Action" class=" item-menu list @(ViewContext.RouteData.Values["controller"]?.ToString() == menuItem.Controller && ViewContext.RouteData.Values["action"]?.ToString() == menuItem.Action ? "active" : "")">
        <a class="link-menu"  asp-controller="@menuItem.Controller" asp-action="@menuItem.Action">
            <span class="icon"><ion-icon name="@menuItem.Icon"></ion-icon></span>
            <span class="title">@menuItem.Title</span>
        </a>
    </li>
}
<script>
    $(document).ready(function () {

        // Carrega a Partial View ao clicar em um elemento com a classe link-menu
        $('.item-menu').click(function (e) {

            e.preventDefault(); // Impede o comportamento padrão do link

            var controller = $(this).data('controller');
            var action = $(this).data('action');

            loadPartialView(controller, action);
        });

        function loadPartialView(controller, action) {
            $.ajax({
                url: '/' + controller + '/' + action,
                type: 'GET',
                success: function (response) {
                    $('.dynamic-list').html(response);
                      document.querySelector('#menu-lateral').style.display = 'block';
                },
                complete: function () {
                    $('#spinner-div').hide();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
</script>